<!-- HEADER FOR THE PAGE  -->
<header>
<nav>
  <ul>
    <li class="user">
      <% if (userName) { %>
        <a href="/quizapp/account"><%= userName %></a>
        <a href="/quizapp/logout" class="logout">Logout</a>
      <% } else { %>
        <a href="/quizapp/login">Login</a>
      <% } %>
    </li>
    <li class="logo"><a href="/quizapp">Quizzer</a><img src="/docs/owl.png"></li>
    <li class="new_quiz"><a href="/quizapp/quiz_builder">New Quiz</a></li>
  </ul>
</nav>
</header>
