<!-- HEADER FOR THE PAGE  -->
<header>
<nav>
  <ul>
    <li class="user">
      <% if (userName) { %>
        <a href="/quizapp/account"><%= userName %></a>
        <form action="/api/logout" method="POST">
          <button class="logout">Logout</button>
        </form>
      <% } else { %>
        <a href="/quizapp/login" class="login">Login</a>
        <a href="/quizapp/login/new" class="register">Register</a>
      <% } %>
    </li>
    <li class="logo"><a href="/quizapp">Quizzer</a><img src="/docs/owl.png"></li>
    <li class="new_quiz"><a href="/quizapp/quiz/new">New Quiz</a></li>
  </ul>
</nav>
</header>
