<!-- HOME PAGE FOR THE APP -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- EXTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />


   <!-- OUR STYLESHEETS -->
  <link rel="stylesheet" href="/styles/all.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/quiz_container.css" />
  <link rel="stylesheet" href="/styles/quiz_card.css" />
  <link rel="stylesheet" href="/styles/index.css" />

  <!-- SCRIPTS-->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/__header') %>

  <main class="quiz_container">
    <article class="quiz_card">
      <a href="">
        <header>
          <h2>Provincial Capitals</h2>
          <p>Jillian</p>
        </header>
        <p class="quiz_description">How well do you know the capitals of Canada's Provinces</p>
        <footer>
          <p><span>4</span> Questions</p>
          <p>Created: <time class="timeago">two days ago</time></p>
        </footer>
      </a>
    </article>
    <article class="quiz_card">
      <a href="">
        <header>
          <h2>Provincial Capitals</h2>
          <p>Jillian</p>
        </header>
        <p class="quiz_description">How well do you know the capitals of Canada's Provinces</p>
        <footer>
          <p><span>4</span> Questions</p>
          <p>Created: <time class="timeago">two days ago</time></p>
        </footer>
      </a>
    </article>
  </main>


</body>

</html>
