<!-- PAGE WITH THE FORM TO MAKE / SUBMIT A NEW QUIZ -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quiz App - New Quiz</title>
  <link href="/docs/owl.png" rel="icon" type="image/x-icon" />

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- EXTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">

   <!-- OUR STYLESHEETS -->
   <link rel="stylesheet" href="/styles/all.css" />
   <link rel="stylesheet" href="/styles/header.css" />
   <link rel="stylesheet" href="/styles/footer.css" />
   <link rel="stylesheet" href="/styles/quiz_form.css" />

  <!-- SCRIPTS-->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/quiz_form.js"></script>
  <script defer src="/scripts/copy_link.js"></script>

</head>
<body>
  <%- include('partials/__header') %>
  <main>

    <h1>Your New Quiz</h1>

    <form action="/api" method="POST" id="quiz_form">
      <fieldset class="quiz_details">
        <legend>Your Quiz Details</legend>

        <div class="question_form_main">

        <label for="quiz_title">Your Quiz Title</label>
        <input type="text" name="quiz_title" id="quiz_title"/>

        <label for="quiz_description">Quiz Description</label>
        <textarea name="quiz_description" id="quiz_description" rows="3"></textarea>

        <label for="quiz_private">Public Quiz?</label>
        <p>If set to public, your quiz will be visible to all users. If set to private, only those who possess your quiz link will be able to view your quiz.</p>
        <div class="public_private">
          <div>
            <label for="public">Public</label>
            <input type="radio" name="quiz_private" value="FALSE" id="public">
          </div>
          <div>
            <label for="private">Private</label>
            <input type="radio" name="quiz_private" value="TRUE" id="private">
          </div>
        </div>

        </div>

      </fieldset>

          <!-- JQUERY APPENDS THE QUESTIONS HERE -->
      <div id="form_questions">
      </div>

      <div id="form_foot">
        <button type="submit" id="submit">Create Quiz!</button>
        <button class="add_question">Add Question</button>
      </div>

    </form>

  </main>
  <%- include('partials/__footer') %>
</body>

</html>
