//this file is for defining scss variables to use in the other scss files

//colours
$mainThemeColour: #5969DE;
$secondaryThemeColour: #98a3fa;
$complThemeColour: #59DEB2;
$bgColour: #f4f1ec;

//sizes
$navHeight: 10rem;
$footHeight: 6rem;
