@use 'base';

nav {
  width: 100vw;
  background-color: base.$mainThemeColour;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2.5em;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 2px 2px 10px #31313b7f;

    button {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1em;
      padding: 0.3em 1em;
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: normal;
      transition: all 0.2s ease-in-out;
      box-shadow: 2px 2px 4px #31313b7f;
    }

    button:hover {
      transform: scale(1.1);
    }

    .home button {
      height: 45px;
      background-color: #59deb2
    }

    .logout button {
      height: 45px;
      background-color: #e09732;
    }
  }

  .nav_right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
  }



  img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }

