@use 'base';

body,
html {
  margin: 0;
  background: base.$bgColour;
}

// Debug borders, uncomment to see a border on all elements
// * {
//   border: 1px solid black;
// }

h2, p {
  margin: 0;
}

button:hover {
  cursor: pointer;
}
