@use 'base';

nav {
  width: 100vw;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 1.5em;
  height: base.$navHeight;
  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      background-color: base.$mainThemeColour;
      border-radius: 12px;
      margin-top: 1.2em;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }

    li:hover {
      cursor: pointer;
      box-shadow: 0px 0px 20px base.$secondaryThemeColour;
    }

    .new_quiz {
      padding: 1.5em;
    }

    .left {
      // margin-top: 1em;
      padding: 0.5em 1em;
    }

    .logout, .register {
      margin-top: 0.5em;
    }

    .logout {
      background-color: base.$errorColour;
    }

    .user {
      background-color: #50c8a0;
    }

    .logo {
      position: fixed;
      top: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 0.1em 2em 0.5em 2em;
      font-size: 2em;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top: 0em;
      padding: auto, inherit;
      font-family: 'Cormorant Unicase', serif;
      font-size: 2.5em;
      font-weight: 700;
      letter-spacing: 1px;
    }

    button {
      margin: 0;
      border: none;
      padding: 0;
      background-color: transparent;
      color: white;
      width: 100%;
      text-align: left;
    }

    .logo img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
      width: 60px;
      height: 60px;
    }

    .left_nav {
      display: flex;
      flex-flow: column wrap;
      width: 18%;
    }



    a {
      text-decoration: none !important;
      color: inherit !important;
    }

  }

  .left_nav {

    .register:hover, .login:hover {
      background-color: base.$secondaryThemeColour;
    }
  }
}
