@use 'base';

nav {
  width: 100vw;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 2.5em;
  height: base.$navHeight;
  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      background-color: base.$mainThemeColour;
      padding: 1.5em;
      margin-top: 1.5em;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
    }

    li:hover {
      cursor: pointer;
      box-shadow: 0px 0px 20px base.$secondaryThemeColour;
    }

    .logo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 0.5em 3em;
      font-size: 2em;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top: 0em;
      padding: auto, inherit;
    }

    .logo img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
      width: 64px;
      height: 64px;
    }




    a {
      text-decoration: none !important;
      color: inherit !important;
    }
    // a:visited {
    //   text-decoration: none;
    // }
  }

  .user {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .logout {
      background-color: base.$errorColour;
      border-radius: 5px;
      padding: 0.25em;
      margin: 0.25em 0 0;
    }
  }
}
