@use 'base';

main {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin: 12rem auto 0;
  height: calc(100vh - base.$navHeight - base.$footHeight);
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #d7d8f0;
  transition: all 0.2s ease-in-out;

  h1 {
    width: 100%;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 0;
    background-color: base.$mainThemeColour;
    box-shadow: 0px 4px 6px #c9cae2;
    color: white;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

#quiz_form {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    height: calc(100vh - base.$navHeight - base.$footHeight);
    padding: 1em 1em 0 1em;

    button {
      border: none;
      border-radius: 10px;
      padding: 0.4em;
      color: white;
      transition: all 0.2s ease-in-out;
      box-shadow: 2px 2px 4px #31313b7f;
      font-weight: 500;
    }

    button:hover {
      transform: scale(1.1);
    }
}

form::-webkit-scrollbar {
  display: none;
}

main:hover {
  box-shadow: 5px 5px 10px base.$secondaryThemeColour;
}

#quiz_form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #d7d8f0;
  transition: all 0.2s ease-in-out;
}

#quiz_form fieldset:hover {
  box-shadow: 3px 3px 5px base.$secondaryThemeColour;
}

fieldset legend {
  background-color: base.$secondaryThemeColour;
  text-shadow: 2px 2px 3px base.$mainThemeColour;
  color: white;
  float: left;
  padding: 0.5rem 0;
  margin-bottom: 0.3rem;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 2px 4px #c9cae2;

}

.question_form, .quiz_details {
  padding: 0;
}

.question_form_main {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: lighter;
  color: base.$mainThemeColour;
  text-shadow: 0.5px 0.5px 3px base.$secondaryThemeColour;
  gap: 0.5rem;
}

input[type="text"], textarea {
  border-radius: 4px;
  border: none;
  resize: none;
  box-shadow: 1.5px 1.5px 8px #31313b7f;
  color: base.$mainThemeColour;
}

textarea::placeholder {
  opacity: 1;
  padding-left: 4rem;
  padding-top: 0.5rem;
  color: base.$mainThemeColour;
  text-shadow: 0.5px 0.5px 3px base.$secondaryThemeColour;
}

.answer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  gap: 7px;
}

.answer {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
  width: 45%;
}

.answer input {
  cursor: pointer;
}

.answer input[type="text"]{
  width: 65%;
}

.question_form_foot {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.form_foot {
  display: flex;
  flex-direction: row;
}

.add_answer, .add_question {
  background-color: base.$complThemeColour;
}

.delete_answer, .delete_question {
  background-color: #E09732;
}

#form_foot {
  display: flex;
  justify-content: space-around;
  margin: 0.5em 0 1.5em 0;
}

#form_foot button {
  padding: 0.5em;
  font-size: 1.1em;
}

#submit {
  @include base.primary-gradient;
}

.correct {
  background-color: #59deb26f;
}

.error_message {
  border-radius: 6px;
  background-color: #E09732;
  width: 80%;
  margin: 10px auto;
  padding: 0.5em;
  box-shadow: 2px 2px 4px #31313b7f;

  p {
    text-align: center;
    color: white;
  }
}

.invalid {
  border: solid base.$errorColour 2px !important;
}

label[for="quiz_private"] {
  margin-top: 0.2em;
}

.public_private {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  gap: 1.5em;
}

.public_private > div {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5em;
}

.quiz_details p {
  font-style: italic;
  font-size: 0.9em;
}

article {
  display: flex;
  padding: 5em;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

article div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

article div p {
  text-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

i {
  font-style: normal;
}

.copy_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
  margin-top: 1.2em;
}

.confirmation {
    height: 50vh;
}

article h3 {
  color: base.$mainThemeColour;
  text-shadow: 0.5px 0.5px 2px base.$secondaryThemeColour;
  font-size: 1.2em;
}

.quizlink_button {
  background-color: base.$mainThemeColour;
}

.resultslink_button {
  background-color: base.$complThemeColour;
}

.link {
  display: none;
}

.copied {
  background-color: base.$complThemeColour;
}

.results_link, .quiz_link {
  border: none;
  border-radius: 3px;
}

.c_b {
  margin: 0;
  padding: 0.9em;
  background-color: base.$complThemeColour;
  border: none;
  border-radius: 10px;
  margin: 1em auto;
  padding: 1em;
  color: white;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  box-shadow: 2px 2px 4px #31313b7f;
}

.c_b:hover {
  transform: scale(1.1);
}

.copy_input {
  border: none;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: 2px 2px 5px #52525e inset;
}
