@use 'base';
main {
  padding-top: 10vh;
}

.main_buttons {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3em;

  button {
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: normal;
      transition: all 0.2s ease-in-out;
      box-shadow: 2px 2px 4px #31313b7f;
      padding: 0.7em;
      font-size: 1.15em;
  }

  button:hover {
    transform: scale(1.1);
  }

  .quizzes_btn {
    @include base.primary-gradient;
  }

  .results_btn {
    background: linear-gradient(50deg, base.$secondaryThemeColour 0%, base.$mainThemeColour 70%, base.$secondaryThemeColour 95%);
  }
  .selected {
    background: linear-gradient(50deg, base.$complThemeColour 60%, #b1cec4 80%, base.$complThemeColour 90%);
  }
}

.info_container {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem auto 0;
  height: calc(100vh - base.$navHeight - base.$footHeight);
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #d7d8f0;
  transition: all 0.2s ease-in-out;
  h1 {
    width: 100%;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 0;
    background-color: base.$mainThemeColour;
    box-shadow: 0px 4px 6px #c9cae2;
    color: white;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .info_body {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    height: calc(100vh - base.$navHeight - base.$footHeight);
    padding: 1em 1em 0 1em;
  }
  .info_body::-webkit-scrollbar {
    display: none;
  }
}

.info_container:hover {
  box-shadow: 5px 5px 10px base.$secondaryThemeColour;
}

.null {
  width: 100%;
  text-align: center;
  margin-top: 15%;
  font-size: 2em;
  font-weight: bolder;
  color: #5969de56;
}
